/* meta info */

* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

html {
    scroll-behavior: smooth;
    background-image: url('images/snake.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    background-attachment: fixed;
    height: 100%;
}

body {
    font-family: 'Zen Kaku Gothic New', sans-serif;
    font-weight: 600;
}

a {
    color: inherit;
}

@media only screen and (max-width: 900px) {
    #newsSection {
        grid-template-columns: 1fr 1fr;
        row-gap: 50px;
    }
}

@media only screen and (max-width: 600px) {
    #newsSection {
        grid-template-columns: 1fr;
        row-gap: 50px;
    }
}

/* navbar */

#menu {
    height: 80px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    position: fixed;
    z-index: 1;
    display: flex;
    flex-direction: row;
}

#navBar {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    height: 80px;
    width: 80%;
}

.navButton {
    line-height: 80px;
    text-align: center;
    color: rgb(240, 255, 240);
    display: flex;
    flex-direction: row;
}

.beta {
    display: block;
    height: 80px;
    width: 150px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

#search {
    display: block;
    margin-left: 525px;
    margin-top: 23px;
    border: none;
}

#searchFunc {
    height: 30px;
    font-size: 12px;
    border: none;
    border-radius: 20px;
    font-weight: 600;
    overflow: hidden;
    padding: 6px;
    outline: 0;
}

.hide {
    display: none;
}

#roster {
    margin-left: 100px;
}

.beta:hover {
    transition: 0.2s;
    color: black;
    background-color: rgb(78, 0, 88);
}

.beta:not(hover) {
    transition: 0.5s;
}

#q {
    margin-left: 100px;
    color:rgb(78, 0, 88);
}

nav ul li ul {
    position: absolute;
    background-color: rgb(0, 0, 0);
    width: 150px;
    margin-top: 80px;
    display: none;
}

nav ul li:hover > ul {
    display: initial;
}

/* main section */

#emptyBlock {
    height: 80px;
    width: 100%;
}

#newsSection {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 50px;
    padding: 20px 0;
    row-gap: 100px;
    width: 80%;
    height: 90%;
    margin-left: 10%;
}

.newsBlock {
    height: 600px;
    width: 100%;
    background-color: rgb(78, 0, 88);
}

 
.newsBlock:hover {
    transition: 0.2s;
    scale: 1.01;
    background-color: rgb(240, 255, 240);
}

.newsBlock:not(hover) {
    transition: 0.5s;
}

.newsImage {
    height: 40%;
    width: 98%;
    margin: 1%;
}

.title {
    margin: 5% 3% 0 10%;
    width: 80%;
}

.text {
    margin: 5% 3% 0 3%;
}

/* footer */

#footer {
    display: block;
    height: 100px;
    width: 100%;
}

#author {
    color: rgb(78, 0, 88);
    margin-top: 50px;
    margin-left: 10%;
}

#contact {
    color: rgb(78, 0, 88);
    margin-top: 20px;
    margin-left: 10%;
}